* {
  box-sizing: border-box;
}

.center-box > * {
  text-align: center;
}

.menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  border: 10px solid burlywood;
  margin: 30px auto;
  width: 80%;
}

.basic-info {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
  text-align: center;
}

.status-good {
  width: 130px;
  background-color: #1df809;
  border-radius: 20px;
  padding: 10px 0;
}

.status-bad {
  width: 150px;
  background-color: #f80909;
  border-radius: 20px;
  padding: 10px 0;
}
