* {
  box-sizing: border-box;
}

.center-box, .center-box > * {
  text-align: center;
}

.menu {
  border: 10px solid burlywood;
  margin: 30px auto;
  width: 80%;
}

.menu-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
}

.basic-info {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
  text-align: center;
}

.status-good {
  width: 130px;
  background-color: #1df809;
  border-radius: 20px;
  padding: 10px 0;
}

.status-bad {
  width: 150px;
  background-color: #f80909;
  border-radius: 20px;
  padding: 10px 0;
}

.body-break {
  margin-top: 30px;
  height: 8px;
  background-color: rgb(57, 212, 135);
}

.footer {
  background-color: #8b7a7aa8;
  height: 140px;
  padding: 50px;
  position: relative;
}

.footer > em {
  position: absolute;
  bottom: 1%;
  right: 1%;
}

.footer > p {
  position: absolute;
  bottom: 1%;
  left: 1%;
  margin: 0;
}

.difficulty {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto;
}

button.inc-diff {
  font-size: 20px;
  background-color: #f80909;
  cursor: pointer;
}

button.dec-diff {
  font-size: 20px;
  background-color: #1df809;
  cursor: pointer;
}
