<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %} SECuChain {% endblock %}</title>
    {% block styles %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/main.css') }}"
    />
    {% endblock %}
  </head>

  <body>
    <div class="menu">
      <div class="menu-row">
      <a href="/">Home</a>
      <a href="/get_chain">Chain</a>
      <a href="/mine_block">Mine</a>
      <a href="/fake_blocks">Fake Blocks</a>
    </div>
    <hr />
    <div class="menu-row">
      <a href="/connect_nodes">Connect network</a>
      <a href="/replace_chain">Get Chain</a>
      <a href="/upload_file">Upload a document</a>
    </div>
    </div>

    <div class="status">
      {% if isvalid(chain)[0] %}
      <div class="status-good">
        Valid Chain
      </div>
      {% else %}
      <div>
        <div class="status-bad">
          Invalid Chain!
        </div>
          <p>Last Valid Block: {{ isvalid(chain)[1] }}</p>
          <a href="/prune_fakes">Prune Chain</a>
        </div>
      </div>

      {% endif %}
    </div>
    <div class="center-box">
      <p><b>User: </b>{{ user }}</p>
      <p><b>Length of Chain: </b> {{ chain|length }}</p>
      <p><b>Nodes Connected: </b>{{ numNodes() }}</p>
    </div>

    {% block content %} {% endblock %}

    {% block footer %}
    <hr class="body-break" />
    <div class="footer">
      <div class="difficulty">
        <form action="/increase_diff" method="post">
          <button class="inc-diff" name="increase_diff" type="submit">Increase Difficulty</button>
        </form>
        <form action="/decrease_diff" method="post">
          <button class="dec-diff" name="decrease_diff" type="submit">Decrease Difficulty</button>
        </form>
      </div>
      <p>Checkout the code on 
        <a href="https://github.com/ptenteromano/Blockchain-Tech"
        rel="noopener noreferrer" 
        target="_blank">
          Github
        </a>
      </p>
      <em><b>Copyright 2019: </b>Philip Tenteromano, Cesar Reynoso, Antonio Segalini</em>
    </div>
    {% endblock %}
  </body>
</html>
