<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %} SECuChain {% endblock %}</title>
    {% block styles %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/main.css') }}"
    />
    {% endblock %}
  </head>
  <body>
    <div class="menu">
      <a href="/">Home</a>
      <a href="/get_chain">Chain</a>
      <a href="/mine_block">Mine</a>
      <a href="/fake_blocks">Fake Blocks</a>
    </div>

    <div class="status">
      {% if isvalid(chain)[0] %}
      <div class="status-good">
        Valid Chain
      </div>
      {% else %}
      <div>
        <div class="status-bad">
          Invalid Chain!
        </div>
          <p>Last Valid Block: {{ isvalid(chain)[1] }}</p>
          <a href="/prune_fakes">Prune Chain</a>
        </div>
      </div>
      {% endif %}
    </div>

    {% block content %} {% endblock %}
  </body>
</html>
