{% extends "base.html" %} {% block styles %}
{{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/blocks.css') }}"
/>
{% endblock %} {% block content %}
<div class="message">
  <h1>{{ block['message'] }}</h1>
  <p>Newest Block Number: <b>{{ block["blockNum"] }}</b></p>
  <p>Time to mine: {{ time }} seconds</p>
</div>
<div class="blockchain-container">
  <div class="block mined-block">
    <h3>MetaData:</h3>
    <div class="block-meta">
      <p><b>Block Number:</b> {{ block["blockNum"] }}</p>

      <p><b>Time stamp:</b> {{ block["timestamp"] }}</p>

      <p><b>Nonce:</b> {{ block["nonce"] }}</p>

      <p><b>Solution:</b> {{ block["hashSolution"] }}</p>

      <p><b>Previous Hash:</b> {{ block["previousHash"] }}</p>
    </div>

    <h3>Transactions:</h3>
    <div class="transactions">
      {% if block['transactions']|length == 0 %}
      <div class="no-trans">
        <b>No Transactions in Block</b>
      </div>
      {% endif %} {% for trans in block['transactions'] %}
      <div class="one-trans">
        <p><b>Sender:</b> {{ trans["sender"] }} </p>
        <p><b>Receiver:</b> {{ trans["receiver"] }} </p>
        <p><b>Document:</b> {{ trans["document"] }} </p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %} 
